<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoviePy</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include 'header.html' %}
    {% block header %}{% endblock %}
    <main class="min-h-svh">
        
    </main>
    <script src="index.js"></script>
  
  </body>
  {% include 'footer.html' %} 
  {% block footer %}{% endblock %}
</html>