<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MoviePy</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include 'header.html' %}
  {% block header %}{% endblock %}

1  <main class="min-h-svh">
    

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/Constantine.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/diadeentrenamiento.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/JohnCarter.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/JohnWick.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/ResidentEvil.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/Lolita.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/WarCraft.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/MissionImposible.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/Snowden.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/LeMans66.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/equalizer.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="static/IMG/AmericanSniper.jpg" alt="">
  </div>
</div>

  </main>
  <script src="index.js"></script>

</body>
{% include 'footer.html' %}
{% block footer %}{% endblock %}

</html>